---
name: Docs - Publish
"on":
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - docs/**
      - mkdocs.yaml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3
        uses: actions/setup-python@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - run: uv run --group docs mkdocs gh-deploy --force
